<%- contentFor('title') %> Carrito <%- contentFor('styles') %>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link rel="stylesheet" href="../admin.css" />
<link rel="stylesheet" href="../index.css" />
<link rel="stylesheet" href="../css/variables.css" />
<link rel="stylesheet" href="../responsive.css" />
<link
  rel="shortcut icon"
  href="../img/branding/isotype.svg"
  type="image/x-icon"
/>

<%- contentFor('body') %>

<main class="main__cart">
  <section class="section__cart">
    <article class="section__title borde_rojo">Carrito de Compras</article>
    <article class="section__headers card__cart">
      <div class="section__headers_t cart_column_1">Detalle de producto</div>
      <div class="section__headers_t cart_column_2">Cantidad</div>
      <div class="section__headers_t cart_column_3">Total</div>
      <div class="void_cart">X X X</div>
    </article>

    <!-- Aca tiene que ir el ForEarch pero no me salio -->

    <% productos.forEach(producto => { %> <%-
    include('./partials/itemsCard.ejs', { producto: producto }) %> <% }) %>
  </section>
  <section class="section__resume">
    <article class="section__title borde_rojo title_resume">resumen</article>
    <table class="resume__table card__cart card_resume">
      <tr>
        <td class="table__text">cantidad de elementos</td>
        <td class="table__amount">3</td>
      </tr>
      <tr>
        <td class="table__text">Subtotal</td>
        <td class="table__amount">$5399.97</td>
      </tr>
      <tr>
        <td class="table__text borde_rojo">envio</td>
        <td class="table__amount borde_rojo">$0.00</td>
      </tr>
      <tr>
        <td class="table__text">total</td>
        <td class="table__amount">$5399.97</td>
      </tr>
    </table>
    <input type="submit" class="red__button_pay" value="ir a pagar" />
  </section>
</main>

<%- contentFor('scripts') %>

<script src="../index.js"></script>
