<%- contentFor('title') %> Editar Item <%- contentFor('styles') %> <%-
contentFor('body') %>
<main class="main_edit">
  <h1>EDITAR ITEM</h1>
  <br />
  <br />
  <form 
  action="/admin/edit/<%=productos.id%>?_method=PUT" 
  method="POST" 
  enctype="multipart/form-data"
  >
    <div class="renglon1">
      <label for="categoria">Categoria:</label>
      <select name="category_id" id="categoria">
        <option value="<%=productos.category_id%>" selected>Figuras</option>
      </select>
      <label for="licencia">Licencia:</label>
      <select name="license_id" id="licencia">
        <% licenses.forEach( license => { %>
        <option value="<%=license.id%>" <% if (productos.license_id == license.id) { %>selected <% } %>><%=license.name%></option>

        <%}) %>
      </select>
    </div>
    <br />
    <br />
    <div class="renglon2">
      <label for="">Nombre del producto:</label>
      <input
        class="borde_rojo input_texto input_grande"
        placeholder="Escribe nombre del producto"
        name="product_name"
        value="<%= productos.product_name %>"
      />
    </div>
    <br />
    <br />
    <div class="3renglon">
      <textarea name="product_description" id="" placeholder="Descripción del producto"><%=productos.product_description%></textarea>
    </div>
    <br />
    <br />
    <div class="4renglon">
      <label for="">SKU:</label>
      <input
        type="text"
        class="borde_rojo input_texto input_mediano"
        name="sku"
        id=""
        placeholder="SSK111AB001"
        value="<%= productos.sku %>"
      />
      <label for="">Precio: $</label>
      <input
        type="number"
        class="borde_rojo input_texto input_mediano"
        name="price"
        placeholder="$ 0.000,00"
        value="<%= productos.price %>"
        step="0.01"
      />
      <label for="">Stock:</label>
      <input
        type="number"
        class="borde_rojo input_texto input_chico"
        name="stock"
        placeholder="0"
        value="<%= productos.stock %>"
      />
    </div>
    <br />
    <br />
    <div class="5renglon">
      <label for="">Descuento</label>
      <input
        type="number"
        class="borde_rojo input_texto input_chico"
        name="discount"
        placeholder="0%"
        value="<%= productos.discount %>"
      />
      <label for="">Cuotas:</label>
      <select name="dues" id="">

        <option value="3" <% if (productos.dues == 3) { %>selected <% } %>>3 Cuotas sin interes</option>
        <option value="6" <% if (productos.dues == 6) { %>selected <% } %>>6 Cuotas sin interes</option>
        <option value="12" <% if (productos.dues == 12) { %>selected <% } %>>12 Cuotas sin interes</option>
        <option value="18" <% if (productos.dues == 18) { %>selected <% } %>>18 Cuotas sin interes</option>
      </select>
    </div>
    <br />
    <br />
    <div class="6renglon">
      <label for="">Imagenes:</label>
      <input type="file" name="image" id="image_front" accept="image/*"/>
      <input type="file" name="image" id="image_back" accept="image/*"/>
    </div>
    <br />
    <br />
    <div class="figuras_imagenes">
      <div class="imagenesYTexto">
        <picture>
          <img
            src="<%= productos.image_front %>"
            class="imagenesfiguras borde_rojo"
            alt="Frente"
          />
        </picture>
        <p>Frente</p>
      </div>
      <div class="imagenesYTexto">
        <picture>
          <img
            src="<%= productos.image_back %>"
            class="imagenesfiguras borde_rojo"
            alt="Dorso"
          />
        </picture>
        <p>Dorso</p>
      </div>
    </div>
    <br />
    <br />
    <input type="submit" class="boton_rojo" value="Modificar Producto" />
  </form>
</main>

<%- contentFor('scripts') %>
