<%- contentFor('title') %> FunkoShop <%- contentFor('styles') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
/>
<link rel="stylesheet" href="/index.css" />
<link rel="stylesheet" href="/responsive.css" />
<link rel="stylesheet" href="/css/variables.css" />
<link
  rel="shortcut icon"
  href="./img/branding/isotype.svg"
  type="image/x-icon"
/>

<%- contentFor('body') %>
<section class="hero" id="hero_banner">
  <article>
    <h1>Nuevos Ingresos</h1>
    <p>Descubrí el próximo Funko Pop de tu colección</p>
    <a href="/shop">SHOP</a>
  </article>
  <div class="bac"></div>
</section>
<main id="main">
  <% licenses.forEach( license => { %> <%- include('partials/license',
  {license}) %> <%}) %>

  <section class="lanzamientos glide">
    <h2 class="lanzamientos__titulo">ULTIMOS LANZAMIENTOS</h2>
    <div class="ultimos_lanzamientos glide__track" data-glide-el="track">
      <ul class="lanzamientos_lista glide__slides">
        <% productos.forEach(producto => { %> <%-include('partials/card.ejs', {
        producto: producto }) %> <% }) %>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <iconify-icon icon="ic:baseline-chevron-left"></iconify-icon>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <iconify-icon icon="ic:baseline-chevron-right"></iconify-icon>
      </button>
    </div>
  </section>
</main>

<%- contentFor('scripts') %>
<script src="index.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
<script src="https://unpkg.com/@glidejs/glide"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  new Glide(".glide", {
    type: "carousel",
    startAt: 0,
    perView: 3,
    gap: 30,
    breakpoints: {
      991: {
        perView: 2,
      },
      768: {
        perView: 1,
      },
    },
  }).mount();
</script>
