<%- contentFor('title') %> FunkoShop <%- contentFor('styles') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
/>
<link rel="stylesheet" href="/index.css" />
<link rel="stylesheet" href="/responsive.css" />
<link rel="stylesheet" href="/css/variables.css" />
<link
  rel="shortcut icon"
  href="./img/branding/isotype.svg"
  type="image/x-icon"
/>

<%- contentFor('body') %>
<section class="hero" id="hero_banner">
  <article>
    <h1>Nuevos Ingresos</h1>
    <p>Descubrí el próximo Funko Pop de tu colección</p>
    <a href="/shop">SHOP</a>
  </article>
  <div class="bac"></div>
</section>
<main id="main">
  <section class="starwars">
    <article>
      <h3 class="titles">STAR WARS & THE MANDALORIAN</h3>
      <p class="descrp">
        Disfruta de una saga que sigue agregando personajes a su colección.
      </p>
      <div class="line"></div>
      <a href="/shop" class="boton-front">VER COLECCIÓN</a>
    </article>
    <picture>
      <img src="./img/star-wars/baby-yoda-1.webp" alt="Bebe - Yoda" />
    </picture>
  </section>
  <section class="pokemon">
    <picture>
      <img src="./img/pokemon/vulpix-1.webp" alt="Vulpix" />
    </picture>
    <article>
      <h3 class="titles">POKEMON INDIGO</h3>
      <p class="descrp">
        Atrapa todos los que puedas y disfruta de una colección llena de amigos.
      </p>
      <div class="line"></div>
      <a href="/shop" class="boton-front">VER COLECCIÓN</a>
    </article>
  </section>
  <section class="harryPotter">
    <article>
      <h3 class="titles">HARRY POTTER</h3>
      <p class="descrp">
        Revive los recuerdos de una saga llena de magia y encanto.
      </p>
      <div class="line"></div>
      <a href="/shop" class="boton-front">VER COLECCIÓN</a>
    </article>
    <picture>
      <img
        src="./img/harry-potter/snape-patronus-1.webp"
        alt="Snape patronus"
      />
    </picture>
  </section>
  <section class="lanzamientos glide">
    <h2 class="lanzamientos__titulo">ULTIMOS LANZAMIENTOS</h2>
    <div class="ultimos_lanzamientos glide__track" data-glide-el="track">
      <ul class="lanzamientos_lista glide__slides">
        <% productos.forEach(producto => { %>
          <%-include('partials/cardDynamic.ejs', { producto: producto }) %> <% }) %>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <iconify-icon icon="ic:baseline-chevron-left"></iconify-icon>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <iconify-icon icon="ic:baseline-chevron-right"></iconify-icon>
      </button>
    </div>
  </section>
</main>

<%- contentFor('scripts') %>
<script src="index.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
<script src="https://unpkg.com/@glidejs/glide"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  new Glide(".glide", {
    type: "carousel",
    startAt: 0,
    perView: 3,
    gap: 30,
    breakpoints: {
      991: {
        perView: 2,
      },
      768: {
        perView: 1,
      },
    },
  }).mount();
</script>
