<%- contentFor('title') %> Item Shop <%= itemId %> <%- contentFor('styles') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
/>
<link rel="stylesheet" href="/index.css" />
<link rel="stylesheet" href="/admin.css" />
<link rel="stylesheet" href="/responsive.css" />
<link rel="stylesheet" href="/css/variables.css" />
<%-contentFor('body') %>
<main>
  <section class="item_container">
    <picture>
      <img
        src="/img/star-wars/baby-yoda-1.webp"
        alt="Figura coleccionable Funko de la serie The Mandalorian"
      />
    </picture>
    <div class="caja_article">
      <article class="item_texto">
        <p class="item_franquicia">STAR WARS</p>
        <h3 class="item_titulo">BABY YODA BLUEBALL</h3>
        <p class="item_descripcion">
          Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga,
          edición limitada.
        </p>
        <p class="item_precio">$ 1799,99</p>
        <div id="caja_cantidad_item">
          <button id="cantidad_item">0</button>
          <div id="aumentar-disminuir">
            <button id="boton_aumentar_item">+</button>
            <button id="boton_disminuir_item">-</button>
          </div>
          <button class="agregar_item">Agregar a Carrito</button>
        </div>
        <p class="item_metodos">
          <a href="" id="item_link_metodos">Ver métodos de pago</a>
          - 3 CUOTAS SIN INTERÉS
        </p>
      </article>
    </div>
  </section>
  <section class="lanzamientos glide">
    <h2 class="lanzamientos__titulo">PRODUCTOS RELACIONADOS</h2>
    <div class="ultimos_lanzamientos glide__track" data-glide-el="track">
      <ul class="lanzamientos_lista glide__slides">
        <% productos.forEach(producto => { %>
        <li class="glide__slide">
          <article class="articulo">
            <a href="/pages/shop.html">
              <div class="nuevo">Nuevo</div>
              <picture class="articulo__cover">
                <img
                  class="articulo__img--back"
                  src="<%= producto.imageBack %>"
                  alt="<%= producto.altBack %>"
                />
                <img
                  class="articulo__img--front"
                  src="<%= producto.imageFront %>"
                  alt="<%= producto.altFront %>"
                />
              </picture>
              <div>
                <p class="articulo_franquicia"><%= producto.class %></p>
                <h4 class="articulo_titulo"><%= producto.title %></h4>
                <p class="articulo_precio"><%= producto.price %></p>
                <p class="articulo_cuotas"><%= producto.paymethod %></p>
              </div>
            </a>
          </article>
        </li>
        <% }) %>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <iconify-icon icon="ic:baseline-chevron-left"></iconify-icon>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <iconify-icon icon="ic:baseline-chevron-right"></iconify-icon>
      </button>
    </div>
  </section>
</main>
<!--como deberia ser llamada a dynamiCard : 
<% productos.forEach(producto => { %>
  <% include('partials/cardDynamic', { producto: producto }) %>
<% }) %> -->

<%- contentFor('scripts') %>
<script src="/index.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
<script src="https://unpkg.com/@glidejs/glide"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  new Glide('.glide', {
    type: 'carousel',
    startAt: 0,
    perView: 3,
    gap: 30,
    breakpoints: {
      991: {
        perView: 2,
      },
      768: {
        perView: 1,
      },
    },
  }).mount();
</script>
