<tr class="table-row">
  <td class="table-item"><%=producto.id %></td>
  <td class="table-item"><%=producto.sku %></td>
  <td class="table-item"><%=producto.product_name %></td>
  <td class="table-item"><%=producto.License.name %></td>
  <td class="icons-edit-delete table-item">
    <a
      href="/admin/edit/<%=producto.id%>"
      class="material-symbols-outlined icon-edit"
    >
      edit
    </a>
    <form
      class="material-symbols-outlined icon-delete"
      action="/admin/<%= producto.id %>?_method=DELETE"
      method="post"
    >
      <button type="submit">delete</button>
    </form>
  </td>
</tr>
