<tr class="table-row">
  <td class="table-item"><%=producto.id %></td>
  <td class="table-item"><%=producto.sku %></td>
  <td class="table-item"><%=producto.product_name %></td>
  <td class="table-item"><%=producto.License.name %></td>
  <td class="icons-edit-delete table-item">
    <a
      href="/admin/edit/<%=producto.id%>"
      class="material-symbols-outlined icon-edit"
    >
      edit
    </a>
    <a href="delete.html" class="material-symbols-outlined icon-delete"
      >delete</a
    >
  </td>
</tr>
