<li>
  <article class="productos articulo">
    <a href="/shop/item/<%=producto.id%>">
      <picture class="articulo__cover">
        <div class="nuevo">Nuevo</div>
        <img
          class="img-shop articulo__img--back"
          src="<%= producto.image_back %>"
          alt="<%= producto.product_name %>"
        />
        <img
          class="img-shop articulo__img--front"
          src="<%= producto.image_front %> "
          alt="<%= producto.product_name %>"
        />
      </picture>
      <div class="datos_articulo_container">
        <p class="articulo_franquicia"><%= producto.License.name %></p>
        <h4 class="articulo_titulo"><%= producto.product_name %></h4>
        <p class="articulo_precio">$&nbsp;<%= producto.price %></p>
        <p class="articulo_cuotas">
          <%= producto.dues %> &nbsp;CUOTAS SIN INTERÉS
        </p>
      </div>
    </a>
  </article>
</li>
