<li class="glide__slide">
  <article class="articulo">
    <a href="/pages/shop.html">
      <div class="nuevo">Nuevo</div>
      <picture class="articulo__cover">
        <img
          class="articulo__img--back"
          src="<%= producto.imageBack %>"
          alt="<%= producto.altBack %>"
        />
        <img
          class="articulo__img--front"
          src="<%= producto.imageFront %>"
          alt="<%= producto.altFront %>"
        />
      </picture>
      <div>
        <p class="articulo_franquicia"><%= producto.class %></p>
        <h4 class="articulo_titulo"><%= producto.title %></h4>
        <p class="articulo_precio">$&nbsp;<%= producto.price %></p>
        <p class="articulo_cuotas"><%= producto.paymethod %></p>
      </div>
    </a>
  </article>
</li>
